<header class="manager-header">
  <div class="logo-container" (click)="navigate('/user/gifts')">
<img src="images/LOGO2.jpg" alt="User Panel Logo" class="logo-img">
    <span class="logo-text">User Panel</span>
  </div>

  <ul class="menu">
    <li *ngFor="let item of menuItems"
        (click)="navigate(item.path)"
        [class.active]="isActive(item.path)">
      {{ item.label }}
    </li>
  </ul>

  <div class="header-actions">
    <button class="cart-toggle-btn" (click)="toggleCart()">
      <span class="cart-icon">🛒</span>
      <!-- <span class="cart-badge">{{ totalItems }}</span>  -->
    </button>

    <button class="logout-btn" (click)="logout()">
      Logout
    </button>
  </div>
</header>

<app-cart-sidebar 
  [isOpen]="isCartOpen" 
  (close)="isCartOpen = false">
</app-cart-sidebar>

<router-outlet></router-outlet>